.contact {
  width: 300px;
  border: 1px solid var(--border-color);

  & * p {
    margin: 3px;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .ant-card-body {
    padding: 15px;
  }
}
