.filter{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    background-color: #1677ff;
    box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
    &__name{
        font-size: 15px;
    } 
}

// .ant-dropdown-menu-item{
//     justify-content: center !important;
//     align-items: center !important;
//     background-color: aquamarine;
//   }